{% extends 'base.html' %}

{% block title %}
Token Generation Page
{% endblock title %}

{% block content %}
<h1> Watch Your Seeds Grow! </h1>

<button style="background-color: transparent; border-color: transparent" type="submit"><a href="{% url 'handle_csv' %}"
        id="cleanList" class="btn btn-secondary">
        View Your Seedling!</a></button>

<button style="background-color: transparent; border-color: transparent" type="submit"><a
        href="{% url 'greenhouse_app:login_home' %}" class="btn btn-secondary" data-bs-container="body">
        Store Your Seedling in Your Pot</a></button>


<script>

    const cleanList = document.querySelector("#clearList");
    fetch('http://127.0.0.1:8000/static/cleanedList.json')
        .then(function (response) {
            return response.json()
        })
        .then(function (data) {
            // console.log(data)
            let typedArray32Array = Uint32Array.from(data, z => z * 3200); //number 3200 can be any whole number*
            // document.write(typedArray32Array);
            const newTypedArray = new Uint32Array(typedArray32Array);
            self.crypto.getRandomValues(newTypedArray);
            console.log(newTypedArray)
            // for (const num of newTypedArray) {
            //     numToString = num.toString()
            //     newString = numToString.concat(numToString)
            //     console.log(newString)
            //     newNum = parseInt(newString)

            newNum = newTypedArray.join("")
            newNumnum = parseInt(newNum)

            const text = newNum;

            async function digestMessage(message) {
                const msgUint8 = new TextEncoder().encode(message);                           // encode as (utf-8) Uint8Array
                const hashBuffer = await crypto.subtle.digest('SHA-256', msgUint8);           // hash the message
                const hashArray = Array.from(new Uint8Array(hashBuffer));                     // convert buffer to byte array
                const hashHex = hashArray.map((b) => b.toString(16).padStart(2, '0')).join(''); // convert bytes to hex string
                alert(hashHex)
                // writeToFile('http://127.0.0.1:8000/static/cleanedList.json', hashHex);
                // hashToJson(hashHex)
//                 function writeToFile(fileName, str) {
//   const file = new Blob([str], {type: 'text/plain'});
//   const a = document.createElement('a');
//   const url = URL.createObjectURL(file);
//   a.href = url;
//   a.download = fileName;
//   document.body.appendChild(a);
//   a.click();
//   setTimeout(function() {
//     document.body.removeChild(a);
//     window.URL.revokeObjectURL(url);
//   }, 0);
// }

// writeToFile('hello.json', hashHex);
function writeToFile(fileName, str, folder) {
  const file = new Blob([str], {type: 'text/plain', webkitRelativePath: folder});
  const a = document.createElement('a');
  const url = URL.createObjectURL(file);
  a.href = url;
  a.download = fileName;
  document.body.appendChild(a);
  a.click();
  setTimeout(function() {
    document.body.removeChild(a);
    window.URL.revokeObjectURL(url);
  }, 0);
}

writeToFile('hello.txt', 'hello', 'C:\Users\isaco\Desktop\PDX-Capstone-CSRNG\no_cap\static');


                return hashHex;

            }
            digestMessage(text)
                .then((digestHex) => console.log(digestHex));

        });

    //     const fs = require('fs')
    // function hashToJson(hashHex) {
    //     const hashedRandom = hashHex
    //     const jsonHash = JSON.stringify(hashedRandom)
    //     console.log("This is json" + jsonHash)
    //     // const blob = new Blob([jsonHash], {
    //     //     type: "application/json",
    //     // })
    //     // const cleanedList = new File([jsonHash], './static/cleanedList.json', {
    //     //     type: "application/json",
    //     // })
    //     // console.log(cleanedList)
    //     // return cleanedList
    //     // formData.append('token', jsonHash, './static/cleanedList.json')
    //     // console.log(formData)
    //     fs.writeFile('/static/cleanedList.json', jsonHash, (err) => {
    //         if (err) throw err;
    //     })
    
    // }

    
</script>




{% endblock %}