{% extends 'base.html' %}
{% load static %}

{% block title %}
Token Generation Page
{% endblock title %}

{% block content %}
<div class="container">
    <h1><strong>Watch Your Seeds Grow!</strong></h1>

    <!-- <button style="background-color: transparent; border-color: transparent" type="submit"><a
        href="{% url 'random_app:handle_csv' %}" id="cleanList" class="btn btn-secondary">
        View Your Seedling!</a></button>

<button style="background-color: transparent; border-color: transparent" type="submit"><a
        href="{% url 'greenhouse_app:login_home' %}" class="btn btn-secondary" data-bs-container="body">
        Store Your Seedling in Your Greenhouse</a></button> -->

    <!--Alternative is below KEEP above -->
    <button class="btn btn-secondary btn-lg" type="submit"><a href="{% url 'random_app:handle_csv' %}" id="getTheHash"
            style="color:whitesmoke"> View </a></button><br>
    <form action="{% url 'greenhouse_app:login_home' %}" method="POST">
        {% csrf_token %}

        <label for="writeToDom" style="text-align: center; align-items: center;"><strong>View &
                Save</strong></label><br>
        <input id="writeToDom" style="width:20rem !important;" multiple name="writeToDom" value="{{writeToDom}}"
            placeholder="Your Seedling Appears Here">
        <button type="submit" class="btn btn-secondary btn-lg">Save</button>
    </form>
</div>

<script>
    fetch('http://127.0.0.1:8000/static/cleanedList.json')
        .then(function (response) {
            return response.json()
        })
        .then(function (data) {

            let typedArray32Array = Uint32Array.from(data, z => z * 3200); //number 3200 can be any whole number*
            const newTypedArray = new Uint32Array(typedArray32Array);
            self.crypto.getRandomValues(newTypedArray);
            console.log(newTypedArray)
            newNum = newTypedArray.join("")
            const text = newNum
            async function digestMessage(message) {
                const msgUint8 = new TextEncoder().encode(message)                           // encode as (utf-8) Uint8Array
                const hashBuffer = await crypto.subtle.digest('SHA-256', msgUint8);           // hash the message
                const hashArray = Array.from(new Uint8Array(hashBuffer));                     // convert buffer to byte array
                const hashHex = hashArray.map((b) => b.toString(16).padStart(2, '0')).join(''); // convert bytes to hex string
                alert(hashHex)
                const writeToDom = document.getElementById('writeToDom')
                writeToDom.innerHTML = hashHex
                writeToDom.value = hashHex
                return hashHex
            }

            digestMessage(text)
                .then((digestHex) =>
                    console.log("this is digest" + (digestHex)))
        })
</script>

{% endblock %}