<html style="background: url(/static/greenhouse.png) no-repeat center center fixed !important; background-size: cover !important; opacity: 0.8">
{% extends 'base.html' %} 
{% block title %}
Show Seedling and Save to Greenhouse
{% endblock title %}

{% block content %}
<body style="background-color: transparent; align-items: center;
margin: auto;"></body>
<h1><strong> Welcome to Your Greenhouse</strong></h1>




<script>
    // const url = "http://127.0.0.1:8000/token_generation"
    // fetch(url, (request, response)=>{
    //     console.log(request.body['hashHex'])
    // })
    // // async function likeFetch(url){
    // //     const response = await fetch(url)
    // //     let data = await response.json()
    // //     console.log(data)
    // //     // if (response){
    // //     //     hideloader()
    // //     // }
    // //     // show(data)
    // // }

    // // likeFetch(url)

    // // // function hideloader(){
    // // //     document.getElementById('loading').style.display = 'none'
    // // // }
    // const data = {'hashHex': hashHex}
    // const options = {
    //     method: 'POST',
    //     headers: {
    //         'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify(data)
    // }

    // fetch(url, options).then(response => {
    //     console.log(data)
    // });
   


</script>

{% endblock %}