html { 
    background: url(seedling.png) no-repeat center center fixed;
    background-size: cover;
    
} 

body {
    align-items: center;
    margin: auto;
    background-color: transparent !important
    
}